<app-header [title]="title" [root]="'/cbh'"></app-header>
<app-sidenav></app-sidenav>

<div class="cbh-page">
  <div class="row">
    <div class="col s12">
      <clock></clock>
      <div class="row">
        <cbh-clock [channel]="1"></cbh-clock>
        <cbh-clock [channel]="2"></cbh-clock>
        <cbh-clock [channel]="3"></cbh-clock>
      </div>
      <div class="row">
        <div class="col s12">
          <h5>(ES) Como usar:</h5>
          <ol>
            <li>Cuando el CBH muera dar clic en el botón "Next" para calcular la hora del próximo CBH.</li>
            <li>Si la hora del próximo CBH es incorrecta se puede corregir dando clic en el icono <i mz-icon-mdi [icon]="'settings'" [size]="'18px'"></i> luego seleccionar la hora en la que murió el CBH y dar clic en el botón "Next".</li>
            <li><strong>IMPORTANTE:</strong> Por favor comprobar que la hora en su PC sea la correcta, ya que la pagina usa la hora local del PC para hacer los calculos del tiempo.</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h5>(EN) How to use:</h5>
          <ol>
            <li>When the CBH dies, click on the "Next" button to calculate the time for the next CBH.</li>
            <li>If the time of the next CBH is incorrect, it can be fixed by clicking on the icon <i mz-icon-mdi [icon]="'settings'" [size]="'18px'"></i>, then selecting the time in which the CBH died and clicking on the "Next" button.</li>
            <li><strong>IMPORTANT:</strong> Please check that the time on your PC is correct, since the page uses the local time of the PC to do the calculations of the time.</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h5>(BR) Como usar:</h5>
          <ol>
            <li>Quando o CBH morre, clique no botão "Next" para calcular a hora do próximo CBH.</li>
            <li>Se a hora do próximo CBH estiver incorreta, ele pode ser corrigido clicando no ícone <i mz-icon-mdi [icon]="'settings'" [size]="'18px'"></i>, depois selecionando a hora em que o CBH morreu e clicando no botão "Next".</li>
            <li><strong>IMPORTANTE:</strong> Verifique se a hora no seu PC está correta, uma vez que a página usa a hora local do PC para fazer os cálculos do tempo.</li>
          </ol>
        </div>
      </div>
  </div>
</div>
