@import './../../../node_modules/materialize-css/sass/components/_color';

.nav-wrapper {
  background: color('teal', 'base');
}

nav {
  .menu-toggle {
    margin: 0px 15px;
    transition: background .3s;

    &:hover {
      background: rgba(0, 0, 0, .3);
    }

    &:active,
    &:focus,
    &:visited {
      background: transparent;
    }

    i {
      line-height: 40px;
    }
  }

  .brand-logo {
    // padding: 0px 15px;
    // background: color('teal', 'base');
  }
}
