<nav class="teal">
  <div class="nav-wrapper">
    <a id="btn-sidenav" class="menu-toggle btn btn-flat btn-floating">
      <i mz-icon-mdi [icon]="'menu'"></i>
    </a>
    <a [routerLink]="root" class="brand-logo truncate">{{title}}</a>
  </div>
</nav>
