<div class="col s12 m4">
  <mz-card class="" [hoverable]="true">
    <mz-spinner [hidden]="!loading" [color]="'teal'" [size]="'small'"></mz-spinner>
    <mz-card-title>
      <span *ngIf="!loading && cbhItem.title">{{cbhItem.title}}</span>
      <a (click)="toggleSettings()"  class="btn btn-flat btn-floating right settings"><i mz-icon-mdi [icon]="'settings'"></i></a>
    </mz-card-title>
    <mz-card-content class="center-align">
      <h3 *ngIf="!loading && cbhItem.clock && !showTimepicker">{{cbhItem.clock}}</h3>
      <mz-timepicker-container *ngIf="showTimepicker">
        <i mz-icon-mdi mz-input-prefix [icon]="'clock'"></i>
        <input mz-timepicker [label]="'Time CBH'" [options]="timepickerOptions" id="timepicker" type="text" [(ngModel)]="timepicker">
      </mz-timepicker-container>
    </mz-card-content>
    <mz-card-action>
      <a *ngIf="cbhItem && cbhItem.clock && cbhItem.clock !== '--:--:--' && hasTimeLeft() && timepicker === ''"
        class="waves-effect btn btn-flat btn-full" disabled>{{getTimeLeft()}}</a>
      <a *ngIf="!cbhItem || !cbhItem.clock || cbhItem.clock === '--:--:--' || !hasTimeLeft() || timepicker !== ''"
        (click)="onNext()" class="waves-effect btn btn-flat btn-full">NEXT</a>
    </mz-card-action>
  </mz-card>
</div>
