/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: #e0e0e0;
}

cbh-clock .card-action {
  padding: 0 !important;
  display: block;
  position: relative;
  text-align: center;
  height: 50px;
}

mz-card-action .btn {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 50px;
}

mz-card-action .btn:hover {
  /* background: rgba(0, 0, 0, .3); */
  background: #009688;
  color: white;
}
